<div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navigation-dashboard.ejs') %>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <%- include('includes/aside-dashboard.ejs') %>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6 h2 text-primary">
              <i class="fas fa-boxes"></i>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Good Request Form</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
          <div class="div mt-1 mb-1">
              <%- include('partials/messages')  %>
          </div>
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Edit Good Request Form</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Request Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/updateGoodRequestForm/<%= id %>" method="POST" role="form">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Purpose</label>
                      <input type="text" class="form-control" id="purpose" name="purpose" value="<%= purpose %>" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Request By</label>
                      <input type="text" class="form-control" id="request_by" value="<%= request_by %>" name="request_by" placeholder="Vendor Name">
                    </div>
                    <div class="row">
                        <div class="col">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Name of Item</label>
                              <input required type="text" class="form-control" value="<%= item %>" id="item" name="item" placeholder="Address">
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Specification</label>
                      <textarea required class="form-control" id="specification" name="specification" rows="3" placeholder="Enter ..."><%= specification %></textarea>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" id="good_request_form_submit-btn" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            Footer
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
  
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.3-pre
      </div>
      <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
      reserved.
    </footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>