<div class="wrapper">
  <!-- Navbar -->
  <%- include('includes/navigation-dashboard.ejs') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('includes/aside-dashboard.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 h2 text-primary">
            <i class="fas fa-boxes"></i>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Request Send to Vendors</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="div mt-1 mb-1">
            <%- include('partials/messages')  %>
        </div>
      <!-- Default box -->
      <% goodsArr.forEach((good) => { %>
        <div class="card mt-2">
            <div class="card-body">
                <small class="text-center mb-2">
                    <%= good.date.toDateString() %>
                </small>
                <br>
                <% if (good.rejected == false) { %>
                  <% if (good.approved == false) { %>
                    <p class="h5 mt-2 text-primary">Not Approved Yet</p>
                  <% } else{ %>
                    <p class="h5 mt-2 text-success">Approved</p>
                  <% } %>

                <% } else{ %>  
                  <p class="h5 mt-2 text-danger">Rejected</p>
                <% } %>
                <br>
                <h5 class="card-title"><%= good.purpose %></h5> <br> <br>
                <h6 class="card-subtitle mb-2 text-muted">Item: <%= good.item %></h6>
                <h6 class="card-subtitle mb-2 text-muted">Specification: <%= good.specification %></h6>
            </div>
        </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Send Quatation</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form action="/sendquatation/<%= good.id %>" method="POST" role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Quatation Number</label>
                  <input required type="text" class="form-control" id="quatation_number" name="quatation_number">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Purpose for Quatation</label>
                        <input type="text" class="form-control" required id="purpose" name="purpose" placeholder="example: For Computer Lab">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Vendor Name</label>
                        <input type="text" value="<%= name %>" class="form-control" id="vendorname" name="vendorname" placeholder="Vendor Name">
                      </div>
                    </div>
                  </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input required type="email" value="<%= email %>" class="form-control" id="email" name="email">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone</label>
                                <input required type="text" value="<%= phone %>" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Attach Quatation</label>
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" id="quatation-btn">
                        <input type="hidden" id="attachment_URL" name="attachment_URL" value="">
                        <label class="custom-file-label" id="attachAttachment-File" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <center>
                  <button type="submit" id="sendQuatation-btn" class="btn w-25 btn-primary">Send</button>
                </center>
              </form>
        <% }); %>

        </div>

        
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('includes/footer-dashboard.ejs') %>


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>